<!DOCTYPE html>
<html lang="en">
<head>
    <title>Game Wiki - Home</title>
    <link rel="stylesheet" type=“text/css” href="styles.css">
</head>
<body>
    <ul>
        <li><a class="active" href="/">Home</a></li>
        <li><a href="/wiki-page">Deep Labyrinth Wiki</a></li>
        <li><a href="/second-page">Contact</a></li>
    </ul>
    


</body>
</html>
